body { background: #70d1cc; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 13px; display: flex; }
.block-helper-0 { color: #9af42f; font-size: 19px; margin-bottom: 5px; }
.block-sms-1 { color: #38ca37; font-size: 13px; margin-bottom: 5px; }
.block-token-2 { color: #77e407; font-size: 16px; margin-bottom: 5px; }
.block-cluster-3 { color: #94eb08; font-size: 18px; margin-bottom: 5px; }
.block-payment-4 { color: #2f3684; font-size: 12px; margin-bottom: 5px; }